
<section>
    <div class="content-indentation">
        <div class="data">
           <div class="data-header">
            <h1>About</h1>
           </div>
           <div class="data-body">
            <p>
                Foodbox is a restaurant chain that delivers food items of different cuisines at affordable prices. 
                It was established in 2014 in Bengaluru, India. 
                It had been serving fine all these years.
            </p>
           </div>
        </div>
    </div>
</section>
