<section>
    <div class="update-pro">
      <h1>Update My Product : {{prodList.pListId}}</h1>
      <div class="form-container">
  
        <form [formGroup]="updateProductForm" (ngSubmit)="onUpdate()">
          <div class="row g-3">
            <div class="col-md-4">
              <label class="form-label">Dish Name</label>
              <input type="text" placeholder="dish name" formControlName="name" class="form-control" [(ngModel)]="prodList.dishName"
                [ngClass]="{'is-invalid':submitted && form['name'].errors}">
  
              <div *ngIf="submitted && form['name'].errors" class="invalid-feedback">
                Dish Name Cannot be Empty
              </div>
            </div>

            <div class="col-md-8">
                <label class="form-label">Image URL</label>
                <input type="text"  placeholder="dish image url" formControlName="url" class="form-control" [(ngModel)]="prodList.imgURL"
                  [ngClass]="{'is-invalid':submitted && form['url'].errors}">
    
                <div *ngIf="submitted && form['url'].errors" class="invalid-feedback">
                  Dish Image URL Cannot be Empty
                </div>
            </div>
  
            <div class="col-md-4">
              <label class="form-label">Cuisine</label>
              <input type="text" placeholder="cuisine name" formControlName="cuisine" class="form-control" [(ngModel)]="prodList.cuisine"
                [ngClass]="{'is-invalid':submitted && form['cuisine'].errors}">
  
              <div *ngIf="submitted && form['seller'].errors" class="invalid-feedback">
                Cuisine Cannot be Empty
              </div>
            </div>
  
  
            <div class="col-md-2">
              <label class="form-label">Quantity</label>
              <input type="text" placeholder="quantity" formControlName="qty" class="form-control" [(ngModel)]="prodList.quantity"
                [ngClass]="{'is-invalid':submitted && form['qty'].errors}">
  
              <div *ngIf="submitted && form['qty'].errors" class="invalid-feedback">
                Dish Quantity Cannot be Empty
              </div>
            </div>

            <div class="col-md-3">
                <label class="form-label">Rating</label>
                <input type="text" placeholder="rating" formControlName="rat" class="form-control" [(ngModel)]="prodList.rating"
                  [ngClass]="{'is-invalid':submitted && form['rat'].errors}">
    
                <div *ngIf="submitted && form['rat'].errors" class="invalid-feedback">
                  Rating Cannot be Empty
                </div>
            </div>

            <div class="col-md-3">
                <label class="form-label">Reviews</label>
                <input type="text" placeholder="Reviews" formControlName="rew" class="form-control" [(ngModel)]="prodList.reviews"
                  [ngClass]="{'is-invalid':submitted && form['rew'].errors}">
    
                <div *ngIf="submitted && form['rew'].errors" class="invalid-feedback">
                  Reviews Cannot be Empty
                </div>
            </div>
  
            <div class="col-md-4">
              <label class="form-label">Price</label>
              <input type="text" placeholder="dish price" formControlName="price" class="form-control" [(ngModel)]="prodList.price"
                [ngClass]="{'is-invalid':submitted && form['price'].errors}">
  
              <div *ngIf="submitted && form['price'].errors" class="invalid-feedback">
                Price Cannot be Empty
              </div>
            </div>
  
            <div class="col-md-8">
              <label class="form-label">Description</label>
              <input type="text" placeholder="description of dish" formControlName="desc" class="form-control" [(ngModel)]="prodList.description"
                [ngClass]="{'is-invalid':submitted && form['desc'].errors}">
  
              <div *ngIf="submitted && form['desc'].errors" class="invalid-feedback">
                Description Cannot be Empty
              </div>
            </div>
            <br>
            <div class="col-12">
              <button class="btn btn-success">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  
  </section>
